<a href="https://colab.research.google.com/github/arcarrion/hsespecialization_course02/blob/master/02_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
! pip install -q kaggle
from google.colab import files
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

Saving kaggle.json to kaggle.json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                    title                                              size  lastUpdated          downloadCount
-----------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
anmolkumar/health-insurance-cross-sell-prediction      Health Insurance Cross Sell Prediction 🏠 🏥          6MB  2020-09-11 18:39:31            779
shivan118/healthcare-analytics                         Healthcare Analytics                                2MB  2020-09-13 17:40:05            467
Cornell-University/arxiv                               arXiv Dataset                                     885MB  2020-09-14 16:54:47           2831
nipunarora8/age-gender-and-ethnicity-face-data-csv     AGE, GENDER AND ETHNICITY (FACE DATA) CSV          63MB  2020-09-02 13:46:38            261
datatattle/covid-19-nlp-text-classification            Coronavirus tweets NLP - Text Classification        4MB  2020-09-08 11:40:11            273
yoannboyere/co2-ghg-emissionsdata                      CO2_GHG_emissions-data                            147KB  2020-09-14 09:59:25            229
ramjidoolla/ipl-data-set                               IPL _Data_Set                                       1MB  2020-09-14 10:57:42            410
anikannal/solar-power-generation-data                  Solar Power Generation Data                         2MB  2020-08-18 15:52:03           3715
tunguz/us-elections-dataset                            US Elections Dataset                                8MB  2020-09-17 17:02:40           2128
imoore/60k-stack-overflow-questions-with-quality-rate  60k Stack Overflow Questions with Quality Rating   21MB  2020-09-11 18:28:28           1090
nehaprabhavalkar/av-healthcare-analytics-ii            AV : Healthcare Analytics II                        7MB  2020-08-29 03:40:10           1781
jmmvutu/summer-products-and-sales-in-ecommerce-wish    Sales of summer clothes in E-commerce Wish        376KB  2020-08-23 15:16:46           5888
ihelon/lego-minifigures-classification                 LEGO Minifigures                                   17MB  2020-09-15 20:07:06           1040
ruchi798/bookcrossing-dataset                          Book-Crossing: User review ratings                 25MB  2020-08-11 10:40:25           1015
google/tinyquickdraw                                   QuickDraw Sketches                                 11GB  2018-04-18 19:38:04           2301
agirlcoding/all-space-missions-from-1957               All Space Missions from 1957                      101KB  2020-08-13 16:18:58           3124
datasnaek/youtube-new                                  Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         104899
zynicide/wine-reviews                                  Wine Reviews                                       51MB  2017-11-27 17:08:04         112569
residentmario/ramen-ratings                            Ramen Ratings                                      40KB  2018-01-11 16:04:39          13459
datasnaek/chess                                        Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09           8880

In [1]:
#! kaggle competitions download -h
#! unzip -h

In [4]:
! mkdir rawdata
! kaggle competitions download -c competitive-data-science-predict-future-sales -p rawdata
! unzip 'rawdata/*.zip' -d rawdata
! rm rawdata/*.zip

mkdir: cannot create directory ‘rawdata’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading shops.csv to rawdata
  0% 0.00/2.91k [00:00<?, ?B/s]
100% 2.91k/2.91k [00:00<00:00, 5.59MB/s]
Downloading items.csv.zip to rawdata
  0% 0.00/368k [00:00<?, ?B/s]
100% 368k/368k [00:00<00:00, 52.1MB/s]
Downloading item_categories.csv to rawdata
  0% 0.00/3.49k [00:00<?, ?B/s]
100% 3.49k/3.49k [00:00<00:00, 3.30MB/s]
Downloading sales_train.csv.zip to rawdata
 98% 13.0M/13.3M [00:00<00:00, 40.6MB/s]
100% 13.3M/13.3M [00:00<00:00, 52.6MB/s]
Downloading sample_submission.csv.zip to rawdata
  0% 0.00/468k [00:00<?, ?B/s]
100% 468k/468k [00:00<00:00, 150MB/s]
Downloading test.csv.zip to rawdata
  0% 0.00/1.02M [00:00<?, ?B/s]
100% 1.02M/1.02M [00:00<00:00, 137MB/s]
Archive:  rawdata/items.csv.zip
  inflating: rawdata/items.csv

Archive:  rawdata/sales_train.csv.zip
  inflating: rawdata/sales_train.csv

Archive:  rawdata/test.csv.zip
  inflating: rawdata/test.csv

Archive:  rawdata/sample_submission.csv.zip
  inflating: rawdata/sample_submission.csv

4 archives were successfully processed.

In [5]:
print('################################################################# Item categories')
! head rawdata/item_categories.csv
print('################################################################# items')
! head rawdata/items.csv
print('################################################################# sales train')
! head rawdata/sales_train.csv
print('################################################################# shops')
! head rawdata/shops.csv
print('\n\n################################################################# test')
! head rawdata/test.csv
print('################################################################# sample submission')
! head rawdata/sample_submission.csv

################################################################# Item categories
item_category_name,item_category_id
PC - Гарнитуры/Наушники,0
Аксессуары - PS2,1
Аксессуары - PS3,2
Аксессуары - PS4,3
Аксессуары - PSP,4
Аксессуары - PSVita,5
Аксессуары - XBOX 360,6
Аксессуары - XBOX ONE,7
Билеты (Цифра),8
################################################################# items
item_name,item_id,item_category_id
! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D,0,40
"!ABBYY FineReader 12 Professional Edition Full [PC, Цифровая версия]",1,76
***В ЛУЧАХ СЛАВЫ   (UNV)                    D,2,40
***ГОЛУБАЯ ВОЛНА  (Univ)                      D,3,40
***КОРОБКА (СТЕКЛО)                       D,4,40
***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ  (UNI)             D,5,40
***УДАР ПО ВОРОТАМ (UNI)               D,6,40
***УДАР ПО ВОРОТАМ-2 (UNI)               D,7,40
***ЧАЙ С МУССОЛИНИ                     D,8,40
################################################################# sales train
date,date_block_num,shop_id,item_id,item_price,item_cnt_day
02.01.2013,0,59,22154,999.0,1.0
03.01.2013,0,25,2552,899.0,1.0
05.01.2013,0,25,2552,899.0,-1.0
06.01.2013,0,25,2554,1709.05,1.0
15.01.2013,0,25,2555,1099.0,1.0
10.01.2013,0,25,2564,349.0,1.0
02.01.2013,0,25,2565,549.0,1.0
04.01.2013,0,25,2572,239.0,1.0
11.01.2013,0,25,2572,299.0,1.0
################################################################# shops
shop_name,shop_id
"!Якутск Орджоникидзе, 56 фран",0
"!Якутск ТЦ ""Центральный"" фран",1
"Адыгея ТЦ ""Мега""",2
"Балашиха ТРК ""Октябрь-Киномир""",3
"Волжский ТЦ ""Волга Молл""",4
"Вологда ТРЦ ""Мармелад""",5
"Воронеж (Плехановская, 13)",6
"Воронеж ТРЦ ""Максимир""",7
"Воронеж ТРЦ Сити-Парк ""Град""",8


################################################################# test
ID,shop_id,item_id
0,5,5037
1,5,5320
2,5,5233
3,5,5232
4,5,5268
5,5,5039
6,5,5041
7,5,5046
8,5,5319
################################################################# sample submission
ID,item_cnt_month
0,0.5
1,0.5
2,0.5
3,0.5
4,0.5
5,0.5
6,0.5
7,0.5
8,0.5

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
sales_rawdata = pd.read_csv('rawdata/sales_train.csv')

<bound method NDFrame.head of                date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0        02.01.2013               0       59    22154      999.00           1.0
1        03.01.2013               0       25     2552      899.00           1.0
2        05.01.2013               0       25     2552      899.00          -1.0
3        06.01.2013               0       25     2554     1709.05           1.0
4        15.01.2013               0       25     2555     1099.00           1.0
...             ...             ...      ...      ...         ...           ...
2935844  10.10.2015              33       25     7409      299.00           1.0
2935845  09.10.2015              33       25     7460      299.00           1.0
2935846  14.10.2015              33       25     7459      349.00           1.0
2935847  22.10.2015              33       25     7440      299.00           1.0
2935848  03.10.2015              33       25     7460      299.00           1.0

[2935849 rows x 6 columns]>
date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [12]:
print(sales_rawdata.head())
print(sales_rawdata.dtypes)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [14]:
sales_noreturns = sales_rawdata.loc[sales_rawdata.item_cnt_day>=0, :]

In [17]:
sales_noreturns_grouped = sales_noreturns.groupby(['date_block_num','shop_id','item_id']).aggregate({'item_cnt_day':sum}).reset_index()
display(sales_noreturns_grouped)

         date_block_num  shop_id  item_id  item_cnt_day
0                     0        0       32           6.0
1                     0        0       33           3.0
2                     0        0       35           1.0
3                     0        0       43           1.0
4                     0        0       51           2.0
...                 ...      ...      ...           ...
1608221              33       59    22087           6.0
1608222              33       59    22088           2.0
1608223              33       59    22091           1.0
1608224              33       59    22100           1.0
1608225              33       59    22102           1.0

[1608226 rows x 4 columns]

In [43]:
median_sales = sales_noreturns_grouped.groupby(['shop_id','item_id']).aggregate({'item_cnt_day':'median'}).reset_index()
display(median_sales)
median_sales = sales_noreturns.loc[sales_noreturns.date_block_num==(34-12), :]
display(median_sales)

        shop_id  item_id  item_cnt_day
0             0       30          31.0
1             0       31          11.0
2             0       32           8.0
3             0       33           3.0
4             0       35           7.5
...         ...      ...           ...
424093       59    22154           1.0
424094       59    22155           1.0
424095       59    22162           1.0
424096       59    22164           1.5
424097       59    22167           1.0

[424098 rows x 3 columns]

               date  date_block_num  shop_id  item_id  item_price  item_cnt_day
2106209  19.11.2014              22       37     3460      1299.0           3.0
2106210  03.11.2014              22       33     4615       399.0           1.0
2106211  01.11.2014              22       33     4870       999.0           1.0
2106212  04.11.2014              22       33     4870       999.0           1.0
2106213  22.11.2014              22       33     4870       999.0           1.0
...             ...             ...      ...      ...         ...           ...
2192632  26.11.2014              22       42       59       249.0           1.0
2192633  07.11.2014              22       42       59       249.0           1.0
2192634  16.11.2014              22       42       77       149.0           1.0
2192635  10.11.2014              22       42       32       149.0           1.0
2192636  26.11.2014              22       42       32       149.0           1.0

[86225 rows x 6 columns]

In [44]:
test_data = pd.read_csv('rawdata/test.csv')
median_sales_test = pd.merge(test_data, median_sales, how='left', on=['shop_id', 'item_id'])
display(median_sales_test)
median_sales_test.loc[pd.isnull(median_sales_test.item_cnt_day), 'item_cnt_day'] = 0
#median_sales_test.item_cnt_day = np.round(median_sales_test.item_cnt_day)
display(median_sales_test)

            ID  shop_id  item_id  ... date_block_num  item_price  item_cnt_day
0            0        5     5037  ...           22.0      2599.0           1.0
1            1        5     5320  ...            NaN         NaN           NaN
2            2        5     5233  ...            NaN         NaN           NaN
3            3        5     5232  ...            NaN         NaN           NaN
4            4        5     5268  ...            NaN         NaN           NaN
...        ...      ...      ...  ...            ...         ...           ...
239176  214195       45    18454  ...            NaN         NaN           NaN
239177  214196       45    16188  ...            NaN         NaN           NaN
239178  214197       45    15757  ...            NaN         NaN           NaN
239179  214198       45    19648  ...            NaN         NaN           NaN
239180  214199       45      969  ...            NaN         NaN           NaN

[239181 rows x 7 columns]

            ID  shop_id  item_id  ... date_block_num  item_price  item_cnt_day
0            0        5     5037  ...           22.0      2599.0           1.0
1            1        5     5320  ...            NaN         NaN           0.0
2            2        5     5233  ...            NaN         NaN           0.0
3            3        5     5232  ...            NaN         NaN           0.0
4            4        5     5268  ...            NaN         NaN           0.0
...        ...      ...      ...  ...            ...         ...           ...
239176  214195       45    18454  ...            NaN         NaN           0.0
239177  214196       45    16188  ...            NaN         NaN           0.0
239178  214197       45    15757  ...            NaN         NaN           0.0
239179  214198       45    19648  ...            NaN         NaN           0.0
239180  214199       45      969  ...            NaN         NaN           0.0

[239181 rows x 7 columns]

In [45]:
sample_submission = median_sales_test.loc[:, ['ID','item_cnt_day']]
sample_submission.columns = ['ID', 'item_cnt_month']
display(sample_submission)

            ID  item_cnt_month
0            0             1.0
1            1             0.0
2            2             0.0
3            3             0.0
4            4             0.0
...        ...             ...
239176  214195             0.0
239177  214196             0.0
239178  214197             0.0
239179  214198             0.0
239180  214199             0.0

[239181 rows x 2 columns]

In [46]:
sample_submission.to_csv('submission.csv', header=True, index=False)

In [47]:
! kaggle competitions submit -c competitive-data-science-predict-future-sales -f submission.csv -m 'Testing submission'

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 2.39M/2.39M [00:00<00:00, 6.86MB/s]
403 - Your team has used its submission allowance (5 of 5). This resets at midnight UTC (8.6 hours from now).